<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MTG Wish List</title>
  </head>
  <body>
    <nav>
        <a href="/search">Add Cards</a>
      </nav>
    <h1>MTG Wish List</h1>
    <ul>
      <% cards.forEach(card => { %>
         <li>
           <a href='/<%= card._id %>/edit'><%= card.qty%>x</a>

            <a href="/<%= card._id %>">
             <%=card.name %>
            </a>

            {<%= card.cmc %>}
            $<%= (card.prices_usd*card.qty).toFixed(2) %>

            <form action='/<%= card.id %>?_method=DELETE' method='POST'>
              <input type="submit" value="DELETE">
            </form>
        </li>
      <% }) %>
    </ul>

    <% let Total = 0; %>

    <h3><% cards.forEach(card => { %>
        <% Total += (card.prices_usd*card.qty) %>
      <% }) %>
      TOTAL: $<%= Total.toFixed(2) %>
  </h3>


  </body>
</html>