<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Details</title>
  </head>
  <body>
    <nav>
      <a href="/">Back to Home</a>
    </nav>
    <h1><%=card.name %></h1>
    Name: <%= card.name%><br />
    Price: <%= card.prices_usd%><br />
    CMC: <%= card.cmc%><br />
    Type: <%= card.type_line%><br />
    Rules Text: <%= card.oracle_text%><br />
    
    <img src="<%= card.img_uris_normal %>" alt="<%= card.name %>">


  </body>
</html>